@import "variable";

html, body {
  height: 100%;
}

img {
  vertical-align: middle;
}

a {
  outline: none !important;
  text-decoration: none !important;
}

*::-webkit-scrollbar {
  width: $-scrollbar-width;
  height: $-scrollbar-width;
  background: $-scrollbar-background-color;
}

*::-webkit-scrollbar-thumb {
  background: $-scrollbar-hover-background-color;
  border-radius: $-scrollbar-width/2;
}

*::-webkit-scrollbar-corner {
  background-color: $-app-background-color;
}

#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: $-color-text-primary;
  font-size: $-font-size-primary;
}

.yj-wrap-row {
  flex-wrap: wrap !important;
}

.el-link + .el-link {
  margin-left: 10px;
}

.yj-detail-form {
  .el-form-item {
    margin: 0;
  }

  .el-form-item__label {
    color: #999;
    padding: 0 20px 0 0;
  }

  .el-form-item__content {
    padding: 10px 0;
    line-height: 20px;

    &::before, &::after {
      content: none;
    }
  }
}

.yj-search-form {
  padding: 0 0 10px;

  /deep/ {
    .el-form-item {
      margin: 5px 10px;
    }

    .el-input {
      width: 190px;
    }
  }
}

.yj-license-success {
  padding: 0;
  border: none;
  box-shadow: none;
  width: 800px;
  max-width: 80%;
  height: 400px;
  border-radius: 20px;
  text-align: center;

  .el-message-box__header {
    padding: 41px 0 5px;

    .el-message-box__title {
      color: #333;
      font-size: 36px;
      font-weight: bold;
      height: 54px;
      line-height: 54px;
    }
  }

  .el-message-box__content {
    min-height: 215px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .el-message-box__container {
      flex: none;
    }

    &::before {
      content: '';
      flex: 1;
    }

    &::after {
      content: '';
      flex: 3;
    }

    .license-text {
      color: #333;
      font-size: 24px;
      line-height: 1.5;
    }

    .license-sub-text {
      margin-top: 20px;
      color: #333;
      font-size: 14px;
      line-height: 1.5;
    }
  }

  .el-message-box__btns {
    padding: 5px 0 30px;
    text-align: center;

    .el-button {
      width: 200px;
      height: 50px;
      border-radius: 25px;
      font-size: 0;
    }

    .el-button::before {
      content: '\767b\5f55\7cfb\7edf';
      color: #FFF;
      font-size: 16px;
    }
  }
}

